@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  --vh1:1920px;
  --vh2:1920px;
  --vw1:auto;
  width: 100%;
  height: unset;
  overflow-x: hidden;
}
@media only screen and (max-width: 1600px) {
  .Basic-Att {
    min-width: 980px;
  }

  /* ------------------------------------ S1 ------------------------------------  */
  .S1-Container {
    min-height: 1700px;
  }

  /* ------------------------------------ S2 ------------------------------------  */
  .S2-Container {
    min-height: 3200px;
  }
  .img1-S19{
    padding-left: 700px !important;
  }
  .Quote-S12-set {
    padding-top: 15% !important;
  }
  #Quote-S2_1,
  #Quote-S2_2,
  #Quote-S2_3,
  #Quote-S2_4 {
    font-size: 130% !important;
    margin-top: 65% !important;
  }

  .IMGSET {
    width: 450px !important;
    height: 500px !important;
    padding-left: 70% !important;
  }

  /* ------------------------------------ S3 ------------------------------------  */
  .IMGLEFT {
    padding-right: 10%;
  }

  .IMGRIGHT {
    padding-right: 8%;
  }

  .hand_dad {
    top: 755px !important;
    padding-left: 12% !important;
  }

  .hand_mom {
    top: 780px !important;
    padding-left: 64% !important;
  }

  /* ------------------------------------ S4 ------------------------------------  */

  /* ------------------------------------ S5 ------------------------------------  */

  /* ------------------------------------ S6 ------------------------------------  */

  /* ------------------------------------ S7 ------------------------------------  */
  .Quote-S7 {
    padding-left: 27% !important;
  }

  /* ------------------------------------ S8 ------------------------------------  */
  .img2-S8 {
    padding-left: 3%;
  }

  #img2-S8-R {
    padding-left: 75% !important;
  }

  /* ------------------------------------ S21 ------------------------------------  */
  .img1-footer {
    padding-left: 5% !important;
  }

  .img5-S20-set {
    padding-left: 18%;
  }
}

@media only screen and (max-width: 1440px) {
  .Basic-Att {
    min-width: 1550px;
  }

  /* ------------------------------------ S1 ------------------------------------  */
  .S1-Container {
    min-height: 1700px;
  }

  /* ------------------------------------ S2 ------------------------------------  */
  .S2-Container {
    min-height: 3200px;
  }
  #Quote-S2_1,
  #Quote-S2_2,
  #Quote-S2_3,
  #Quote-S2_4 {
    font-size: 130% !important;
    margin-top: 65% !important;
  }

  .IMGSET {
    width: 450px !important;
    height: 500px !important;
    padding-left: 70% !important;
  }

  /* ------------------------------------ S3 ------------------------------------  */
  .IMGLEFT {
    padding-right: 10%;
  }

  .IMGRIGHT {
    padding-right: 8%;
  }

  .hand_dad {
    top: 755px !important;
    padding-left: 12% !important;
  }

  .hand_mom {
    top: 780px !important;
    padding-left: 64% !important;
  }

  /* ------------------------------------ S4 ------------------------------------  */

  /* ------------------------------------ S5 ------------------------------------  */

  /* ------------------------------------ S6 ------------------------------------  */

  /* ------------------------------------ S7 ------------------------------------  */
  .Quote-S7 {
    padding-left: 27% !important;
  }

  /* ------------------------------------ S8 ------------------------------------  */
  .img2-S8 {
    padding-left: 5%;
  }

  #img2-S8-L {
    padding-left: 63% !important;
  }

  #img2-S8-R {
    padding-left: 72% !important;
  }

  /* ------------------------------------ S21 ------------------------------------  */
  .img1-footer {
    padding-left: 9% !important;
  }

  .img5-S20-set {
    padding-left: 12%;
  }
}

@media only screen and (max-width: 1200px) {
  .Basic-Att {
    min-width: 1400px;
  }

  /* ------------------------------------ S1 ------------------------------------  */
  .S1-Container {
    min-height: 1700px;
  }

  /* ------------------------------------ S2 ------------------------------------  */
  .S2-Container {
    min-height: 3200px;
  }
  #Quote-S2_1,
  #Quote-S2_2,
  #Quote-S2_3,
  #Quote-S2_4 {
    font-size: 130% !important;
    margin-top: 65% !important;
  }

  .IMGSET {
    width: 450px !important;
    height: 500px !important;
    padding-left: 70% !important;
  }

  /* ------------------------------------ S3 ------------------------------------  */
  .IMGLEFT {
    padding-right: 15%;
  }

  .IMGRIGHT {
    padding-right: 10%;
  }

  .hand_dad {
    top: 755px !important;
    padding-left: 10% !important;
  }

  .hand_mom {
    top: 780px !important;
    padding-left: 62% !important;
  }

  /* ------------------------------------ S4 ------------------------------------  */

  /* ------------------------------------ S5 ------------------------------------  */

  /* ------------------------------------ S6 ------------------------------------  */

  /* ------------------------------------ S7 ------------------------------------  */
  .Quote-S7 {
    padding-left: 23% !important;
  }

  /* ------------------------------------ S8 ------------------------------------  */
  .img2-S8 {
    padding-left: 5%;
  }

  #img2-S8-R {
    padding-left: 75% !important;
  }

  /* ------------------------------------ S21 ------------------------------------  */
  .img1-footer {
    padding-left: 20% !important;
  }

  .img5-S20-set {
    padding-left: 16%;
  }
}

@media only screen and (max-width: 1024px) {
  .Basic-Att {
    min-width: 1300px;
  }

  /* ------------------------------------ S1 ------------------------------------  */
  .S1-Container {
    min-height: 1700px;
  }

  /* ------------------------------------ S2 ------------------------------------  */
  .S2-Container {
    min-height: 3200px;
  }
  .img1-S12-set {
    padding-left: 55%;
  }
   .IMGSET-S11 {
    width: 450px !important;
    height: 500px !important;
  }
  #Quote-S2_1,
  #Quote-S2_2,
  #Quote-S2_3,
  #Quote-S2_4 {
    font-size: 130% !important;
    margin-top: 63% !important;
  }

  .IMGSET {
    width: 450px !important;
    height: 500px !important;
    padding-left: 66% !important;
  }

  /* ------------------------------------ S3 ------------------------------------  */
  .IMGLEFT {
    padding-right: 10%;
  }

  .IMGRIGHT {
    padding-right: 12%;
  }

  .hand_dad {
    top: 760px !important;
    padding-left: 14% !important;
  }

  .hand_mom {
    top: 780px !important;
    padding-left: 58% !important;
  }

  /* ------------------------------------ S4 ------------------------------------  */

  #img1-left,
  #img1-right {
    display: none;
  }

  .active.fadeaway2 {
    animation: fadeaway1 2s ease-in-out forwards !important;
  }

  .active.fadeaway3 {
    animation: fadeaway1 2s ease-in-out 1.5s forwards !important;
  }

  .active.fadeaway5 {
    animation: fadeaway4 2s ease-in-out forwards !important;
  }

  .active.fadeaway6 {
    animation: fadeaway4 2s ease-in-out 1.5s forwards !important;
  }


  /* ------------------------------------ S5 ------------------------------------  */

  /* ------------------------------------ S6 ------------------------------------  */

  /* ------------------------------------ S7 ------------------------------------  */
  .Quote-S7 {
    padding-left: 22% !important;
  }

  /* ------------------------------------ S8 ------------------------------------  */
  #img1-S8-school {
    padding-left: 49% !important;
  }

  #img2-S8-L {
    padding-left: 66% !important;
  }

  #img2-S8-R {
    padding-left: 76% !important;
  }

  /* ------------------------------------ S21 ------------------------------------  */
  .img1-footer {
    padding-left: 20% !important;
  }

  .img5-S20-set {
    padding-left: 16%;
  }
}

@media only screen and (max-width: 768px) {
  .Basic-Att {
    min-width: 1300px;
  }

  /* ------------------------------------ S1 ------------------------------------  */
  .S1-Container {
    min-height: 1700px;
  }

  /* ------------------------------------ S2 ------------------------------------  */
  .S2-Container {
    min-height: 3200px;
  }
  .S14-Container{
    width: 980px !important;
  }
  .IMGSET-S11 {
    width: 350px !important;
    height: 400px !important;
  }
  #Quote-S2_1,
  #Quote-S2_2,
  #Quote-S2_3,
  #Quote-S2_4 {
    font-size: 130% !important;
    margin-top: 63% !important;
  }

  .IMGSET {
    width: 450px !important;
    height: 500px !important;
    padding-left: 65% !important;
  }

  /* ------------------------------------ S3 ------------------------------------  */
  .IMGLEFT {
    padding-right: 10%;
  }

  .IMGRIGHT {
    padding-right: 13%;
  }

  .hand_dad {
    top: 760px !important;
    padding-left: 14% !important;
  }

  .hand_mom {
    top: 780px !important;
    padding-left: 58% !important;
  }

  /* ------------------------------------ S4 ------------------------------------  */

  #img1-left,
  #img1-right {
    display: none;
  }

  .active.fadeaway2 {
    animation: fadeaway1 2s ease-in-out forwards !important;
  }

  .active.fadeaway3 {
    animation: fadeaway1 2s ease-in-out 1.5s forwards !important;
  }

  .active.fadeaway5 {
    animation: fadeaway4 2s ease-in-out forwards !important;
  }

  .active.fadeaway6 {
    animation: fadeaway4 2s ease-in-out 1.5s forwards !important;
  }


  /* ------------------------------------ S5 ------------------------------------  */

  /* ------------------------------------ S6 ------------------------------------  */

  /* ------------------------------------ S7 ------------------------------------  */
  .Quote-S7 {
    padding-left: 22% !important;
  }

  /* ------------------------------------ S8 ------------------------------------  */
  .S8-Container {
    font-size: 250% !important;
  }

  #img2-S8-R {
    padding-left: 80% !important;
  }

  #img2-S8-L {
    padding-left: 68% !important;
  }

  #img1-S8-school {
    width: 60% !important;
    padding-left: 46% !important;
  }

  /* ------------------------------------ S21 ------------------------------------  */
  .img1-footer {
    padding-left: 26% !important;
  }

  .img5-S20-set {
    padding-left: 16%;
  }
}

@media only screen and (max-width: 480px) {
  .Basic-Att {
    min-width: 1200px;
  }

  /* ------------------------------------ S1 ------------------------------------  */
  .S1-Container {
    min-height: 1700px;
  }

  /* ------------------------------------ S2 ------------------------------------  */
  .S2-Container {
    min-height: 3200px;
  }

  #Quote-S2_1,
  #Quote-S2_2,
  #Quote-S2_3,
  #Quote-S2_4 {
    font-size: 120% !important;
    margin-top: 63% !important;
  }

  .IMGSET {
    width: 450px !important;
    height: 500px !important;
    padding-left: 60% !important;
  }

  /* ------------------------------------ S3 ------------------------------------  */
  .IMGLEFT {
    padding-right: 10%;
  }

  .IMGRIGHT {
    padding-right: 17%;
  }

  .hand_dad {
    top: 760px !important;
    padding-left: 15% !important;
  }

  .hand_mom {
    top: 780px !important;
    padding-left: 55% !important;
  }

  /* ------------------------------------ S4 ------------------------------------  */

  #img1-left,
  #img1-right {
    display: none;
  }

  .active.fadeaway2 {
    animation: fadeaway1 2s ease-in-out forwards !important;
  }

  .active.fadeaway3 {
    animation: fadeaway1 2s ease-in-out 1.5s forwards !important;
  }

  .active.fadeaway5 {
    animation: fadeaway4 2s ease-in-out forwards !important;
  }

  .active.fadeaway6 {
    animation: fadeaway4 2s ease-in-out 1.5s forwards !important;
  }


  /* ------------------------------------ S5 ------------------------------------  */

  /* ------------------------------------ S6 ------------------------------------  */

  /* ------------------------------------ S7 ------------------------------------  */
  .Quote-S7 {
    padding-left: 19% !important;
  }

  /* ------------------------------------ S8 ------------------------------------  */

  .S8-Container {
    font-size: 250% !important;
  }

  #img2-S8-L {
    padding-left: 67% !important;
  }

  #img2-S8-R {
    padding-left: 79% !important;
  }

  #img1-S8-school {
    width: 60% !important;
    padding-left: 46% !important;
  }

  /* ------------------------------------ S21 ------------------------------------  */
  .img1-footer {
    padding-left: 35% !important;
  }

  .img5-S20-set {
    padding-left: 10%;
  }
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-top1 {
  animation: fade-top 1s ease-in;
}

.active.fade-top2 {
  animation: fade-top 1.1s ease-in;
}

.active.fade-top3 {
  animation: fade-top 1.2s ease-in;
}

.active.fade-top4 {
  animation: fade-top 1.3s ease-in;
}

.active.fade-top5 {
  animation: fade-top 1.4s ease-in;
}

.active.fade-top6 {
  animation: fade-top 1.5s ease-in;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.active.fade-left2 {
  animation: fade-left 1s ease-in-out forwards;
}

.active.fade-left3 {
  animation: fade-left 1s ease-in-out 2s forwards;
}

.active.fade-right {
  animation: fade-right 0.4s ease-in;
}

.active.fade-right2 {
  animation: fade-right 1.4s ease-in;
}

.active.fade-right3 {
  animation: fade-right 1s ease-in-out 1s forwards;
}

.active.fadeaway1 {
  animation: fadeaway1 2s ease-in-out forwards;
}

.active.fadeaway2 {
  animation: fadeaway1 2s ease-in-out 1.5s forwards;
}

.active.fadeaway3 {
  animation: fadeaway1 2s ease-in-out 3s forwards;
}

.active.fadeaway4 {
  animation: fadeaway4 2s ease-in-out forwards;
}

.active.fadeaway5 {
  animation: fadeaway4 2s ease-in-out 1.5s forwards;
}

.active.fadeaway6 {
  animation: fadeaway4 2s ease-in-out 3s forwards;
}

.active.fadeaway7 {
  animation: fadeaway2 2s ease-in-out forwards;
}

.active.fadeawayChat {
  animation: fadeaway6 5s ease-in forwards;
}

.active.fadeawayChat2 {
  animation: fadeaway5 4s ease-in 1s forwards;
}

.active.fadeawayChat3 {
  animation: fadeaway6 3s ease-in 2s forwards;
}

.active.fade-in {
  animation: fade-in 1.5s ease-in;
}

.active.fade-in2 {
  animation: fade-in 2s ease-in;
}

.active.fade-in3 {
  animation: fade-in 2s ease-in-out forwards;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-top {
  0% {
    transform: translateY(-500px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeaway1 {
  0% {
    opacity: 1;
  }

  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}

@keyframes fadeaway2 {
  0% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeaway4 {
  0% {
    opacity: 1;
  }

  100% {
    transform: translateX(-100px);
    opacity: 0;
  }
}

@keyframes fadeaway5 {
  0% {
    opacity: 0;
  }

  20% {
    transform: translateX(-100px);
    opacity: 1;
  }

  80% {
    transform: translateX(-100px);
    opacity: 1;
  }

  100% {
    transform: translateX(-100px);
    opacity: 0;
  }
}

@keyframes fadeaway6 {
  0% {
    opacity: 0;
  }

  20% {
    transform: translateX(100px);
    opacity: 1;
  }

  80% {
    transform: translateX(100px);
    opacity: 1;
  }

  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}

.Basic-Att {
  width: 100%;
  container-type: inline-size;
}

#FreeSpace {
  width: 100%;
  height: 10vh;
}

#FreeSpace2 {
  width: 100%;
  height: 15vh;
}

#FreeSpace3 {
  width: 100%;
  height: 20vh;
}

.Main-Container {
  height: auto;
  width: 100%;
}

.S1-Container {
  height: 1200px;
}

.Head-Content {
  position: relative;
  font-family: 'Sriracha', cursive;
  font-style: italic;
  font-size: 300%;
  line-height: 100px;
  color: #009933;
  top: 35%;
  padding-left: 5%;
}


/* ------------------------------------ S2 ------------------------------------  */

.S2-Container {
  font-family: 'Bai Jamjuree', sans-serif;
  background-attachment: fixed;
  line-height: 50px;
}

#IMG-S2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-content: center;
  align-items: center;
}

.IMGSET {
  transition: all 0.3s ease;
  margin-top: 15%;
  padding-left: 68%;
  width: 550px;
  height: 600px;
}

#Quote-S2_1,
#Quote-S2_2,
#Quote-S2_3,
#Quote-S2_4 {
  line-height: 50px;
  position: relative;
  font-size: 150%;
  margin-top: 40%;
  padding-left: 10%;
  opacity: 0;
}


/* ------------------------------------ S3 ------------------------------------  */

.S3-Container {
  font-family: 'Bai Jamjuree', sans-serif;
}

.setindex_1 {
  z-index: 1;
}

.setindex_2 {
  z-index: 2;
}

.book1 {
  position: absolute;
  top: -16px;
}

.book2,
.book3,
.book4 {
  position: absolute;
}

.book1Alt {
  position: absolute;
  top: 16px
}

.book3Alt {
  position: absolute;
  top: -120px
}

.book4Alt {
  position: absolute;
  top: -150px;
}

.IMGLEFT {
  position: relative;
}

.IMGRight {
  position: relative;
}

#book_1 {
  position: relative;
  transition: all 0.3s ease;
  top: -60vh;
  left: -3%;
}

#book_2 {
  position: relative;
  transition: all 0.3s ease;
  top: -65vh;
  padding-left: 5%;
}

#book_3 {
  position: relative;
  transition: all 0.3s ease;
  top: -50vh;
  padding-left: 10%;
}

#book_4 {
  position: relative;
  transition: all 0.3s ease;
  top: -57vh;
  padding-left: 15%;
}

#book_5 {
  position: relative;
  transition: all 0.3s ease;
  top: -60vh;
  padding-left: 82%;
}

#book_6 {
  position: relative;
  transition: all 0.3s ease;
  top: -65vh;
  padding-left: 75%;
}

#book_7 {
  position: relative;
  transition: all 0.3s ease;
  top: -50vh;
  padding-left: 70%;
}

#book_8 {
  position: relative;
  transition: all 0.3s ease;
  top: -57vh;
  padding-left: 65%;
}

.hand_dad {
  position: absolute;
  transition: all 0.3s ease;
  top: 800px;
  padding-left: 18%;
  z-index: -1;
}

.hand_mom {
  position: absolute;
  transition: all 0.3s ease;
  top: 800px;
  padding-left: 62%;
  z-index: -1;
}

/* @container (width<=1500px) {

  .IMGSET {
    width: 450px;
    height: 500px;
    padding-left: 60%;
  }

  #book_5 {
    position: relative;
    top: -60vh;
    padding-left: 69%;
  }

  #book_6 {
    position: relative;
    top: -65vh;
    padding-left: 62%;
  }

  #book_7 {
    position: relative;
    top: -50vh;
    padding-left: 57%;
  }

  #book_8 {
    position: relative;
    top: -57vh;
    padding-left: 52%;
  }

  .hand_mom {
    position: absolute;
    top: 800px;
    padding-left: 52%;
  }
} */

/* @media (width>=1920px) {
  .Basic-Att {
    min-width: 1920px;
  }
}

@media (width<=1500px) {
  .Basic-Att {
    min-width: 1200px;
  }
} */


.Quote-S3 {
  text-align: center;
  line-height: 70px;
  position: relative;
  font-size: 150%;
  margin-bottom: 5%;
}


/* ------------------------------------ S4 ------------------------------------  */

.S4-Container {
  /* background-color: yellow; */
  font-family: 'Bai Jamjuree', sans-serif;
  line-height: 50px;
  height: 1550px;
  display: inline-block;
  /*  height: 100%; */
}

.Quote-S4 {
  position: relative;
  text-align: center;
  font-size: 100%;
}

.Quote2-S4 {
  position: relative;
  text-align: center;
  font-size: 100%;
  top: 200px;
}

#IMG-S4 {
  position: -webkit-sticky;
  position: sticky;
  top: 300px;
  text-align: center;
  align-items: center;
}

.img_S4 {
  align-items: center;
  align-content: center;
}

.S4-page2 {
  /* text-align: center; */
  /* line-height: 200px; */
  /* font-size: 100%; */
  /* display: inline-block; */
}

.dad-group {
  position: relative;
}

.mom-group {
  position: relative;
}

#img1-left {
  position: absolute;
  top: 150px;
  left: 400px;
  text-align: center;
  align-items: center;
}

#img2-left {
  position: absolute;
  top: 150px;
  left: 200px;
  opacity: 0;
}

#img3-left {
  position: absolute;
  top: 150px;
  left: -100px;
  opacity: 0;
}

#img1-right {
  position: absolute;
  top: 150px;
  right: 450px;
}

#img2-right {
  position: absolute;
  top: 150px;
  right: 200px;
  opacity: 0;
}

#img3-right {
  position: absolute;
  top: 150px;
  right: 0px;
  opacity: 0;
}


/* ------------------------------------ S5 ------------------------------------  */

.S5-Container {
  font-family: 'Bai Jamjuree', sans-serif;
  line-height: 50px;
  height: auto;
}

.Quote-S5 {
  text-align: center;
  position: relative;
  font-size: 100%;
}

.img-S5 {
  text-align: center;
}

#imgL-S5 {
  position: relative;
  padding-left: 2%;
}

#imgR-S5 {
  position: relative;
  padding-right: 2.5%;
}


/* ------------------------------------ S6 ------------------------------------  */

.S6-Container {
  font-family: 'Bai Jamjuree', sans-serif;
  line-height: 50px;
  font-size: 150%;
  height: 2600px;
}

.ChatBox1 {
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
  left: -10%;
  text-align: left;
  opacity: 0;
}

.ChatBox2 {
  position: -webkit-sticky;
  position: sticky;
  top: 40%;
  text-align: right;
  opacity: 0;
}

.ChatBox3 {
  position: -webkit-sticky;
  position: sticky;
  top: 70%;
  left: -10%;
  text-align: left;
  opacity: 0;
}

.IMGBoxR {
  position: absolute;
  right: 0;
  z-index: 1;
}

.IMGBoxL1 {
  position: absolute;
  padding-left: 5%;
  z-index: 1;
}

.IMGBoxL2 {
  position: absolute;
  padding-left: 5%;
  z-index: 1;
}

#txt1 {
  position: absolute;
  padding-left: 12%;
  margin-top: 4vh;
}

#txt2 {
  position: absolute;
  padding-left: 80%;
  margin-top: 3.5vh;
}

#txt3 {
  position: absolute;
  padding-left: 15%;
  margin-top: 4vh;
}


/* ------------------------------------ S7 ------------------------------------  */

.S7-Container {
  font-family: 'Bai Jamjuree', sans-serif;
  /* line-height: 50px; */
  font-size: 85%;
  height: 1500px;
}

.S7-TV {
  position: relative;
}

.img1-S7 {
  position: relative;
  text-align: center;
}

.Quote-S7 {
  position: relative;
  padding-left: 30%;
  width: 380px;
  top: -420px;
  line-height: 26px;
}

.img2-S7 {
  position: relative;
  top: -750px;
  padding-left: 46.5%;
}

.img2-S7-set {
  position: absolute;
}


/* ------------------------------------ S8 ------------------------------------  */

.S8-Container {
  /* background-color: blue; */
  font-family: 'Bai Jamjuree', sans-serif;
  line-height: 50px;
  font-size: 150%;
  height: auto;
}

.Quote1-S8 {
  position: relative;
  text-align: left;
  font-size: 100%;
  top: -450px;
  padding-left: 12%;
}

.Quote2-S8 {
  position: relative;
  text-align: right;
  font-size: 120%;
  top: -400px;
  padding-right: 15%;
}

.img1-S8 {
  position: relative;
}

#img1-S8-school {
  position: absolute;
  top: -330px;
  padding-left: 50%;
  z-index: 0;
}

.img2-S8 {
  position: relative;
}

#img2-S8-L {
  position: absolute;
  padding-left: 65%;
  top: -124px;
  z-index: 1;
}

#img2-S8-R {
  position: absolute;
  padding-left: 72%;
  top: -124px;
  z-index: 2;
}

.img3-S8 {
  position: relative;
  opacity: 0;
}

#img3-S8-shop {
  position: absolute;
  padding-left: 10%;
  top: -380px;
}

.img4-S8 {
  position: relative;
  top:10px;
}
#img4-S8-floor{
  width: calc(var(--vh1));
}

/* ------------------------------------ S9 ------------------------------------  */

.S9-Container { 
  background-color: black;
  font-family: 'Bai Jamjuree', sans-serif;
  line-height: 50px;
  font-size: 150%;
  height: auto;
}

.slids1-S9 {
  position: relative;
}

#img1-s9-bg {
  position: relative;
  top: -17px;
  width: calc(var(--vh1));
  z-index: 0;
}

#img-s9 {
  position: absolute;
  bottom: 33px;
  padding-left: 54%;
  z-index: 0;
}

.Quote1-S9 {
  position: absolute;
  text-shadow: 1px 1px 2px rgb(3, 55, 5);
  color: #ffffff;
  bottom: 150px;
  padding-left: 10%;
  font-size: 100%;
  line-height: 40px;
  z-index: 1;
}

#Quote-S9-txt2 {
  font-size: 380%;
}

.slids2-S9 {
  position: relative;
}

.img2-s9-bg {
  position: relative;
  top: 0px;
  width: calc(var(--vh1));
  height: 100%;
  z-index: 0;
}

.Quote2-S9 {
  position: absolute;
  text-shadow: 1px 1px 2px rgb(3, 55, 5);
  color: #ffffff;
  bottom: 281px;
  padding-left: 10%;
  font-size: 120%;
  line-height: 40px;
  z-index: 1;
}


/* ------------------------------------ S10 ------------------------------------  */

.S10-Container {
  background-color: black;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 150%;
  height: 1800px;
}

.slids1-S10 {
  position: relative;
}

.img1-P1-S10 {
  position: relative;
  z-index: 1;
}

.img1-P1-S10set {
  position: absolute;
  top: -64px;
  padding-left: 35%;
}

.img2-P1-S10 {
  position: relative;
  text-align: right;
  bottom: -150px;
  z-index: 2;
}

.img2-P1-S10set {
  padding-right: 18%;
}
.img3-P1-S10 {
  position: relative;
  z-index: 0;
}

.img3-P1-S10set{
  width: calc(var(--vh1));
}
.QuoteP1-S10 {
  position: relative;
  color: #ffffff;
  z-index: 1;
}

.QuoteP1-S10set {
  position: absolute;
  padding-left: 6%;
  padding-top: 70px;
}

.slids2-S10 {
  position: relative;
}

.QuoteP2-S10 {
  position: relative;
  color: #ffffff;
  text-align: center;
  padding-top: 15%;
}

.img1-P2-S10 {
  position: relative;
  text-align: center;
  align-items: center;
  padding-top: 5%;
  z-index: 0;
}

.img2-P2-S10 {
  position: relative;
  text-align: center;
  bottom: 166px;
  padding-left: 1%;
}


/* ------------------------------------ S11 ------------------------------------  */

.S11-Container {
  background-color: black;
  color: #ffffff;
  font-family: 'Bai Jamjuree', sans-serif;
  background-attachment: fixed;
  line-height: 50px;
}

#IMG-S11 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-content: center;
  align-items: center;
}

.IMGSET-S11 {
  margin-top: 10%;
  padding-left: 10%;
  width: 550px;
  height: 600px;
}

#Quote-S11-1,
#Quote-S11-2,
#Quote-S11-3,
#Quote-S11-4 {
  position: relative;
  line-height: 50px;
  font-size: 150%;
  text-align: right;
  padding-right: 10%;
  top: -500px;
  /* margin-top: -288px; */
}


/* ------------------------------------ S12 ------------------------------------  */

.S12-Container {
  background-color: black;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 150%;
}

.Quote-S12 {
  position: relative;
  color: #ffffff;
}

.Quote-S12-set {
  transform: all .3s;
  position: absolute;
  padding-left: 20%;
  padding-top: 10%
}

.img1-S12 {
  position: relative;
  text-align: right;
  padding-right: 10%;
  bottom: -260px;
}

.img1-S12-set {
  transform: all .3s ease !important;
  padding-left: 55%;
  position: relative;
  top:-90px;
}

.im2-S12 {
  position: relative;
}

.img2-S12-set {
  position: relative;
  transform: rotate(4deg);
  width: calc(var(--vh1));
  top: 95px;
}


/* ------------------------------------ S13 ------------------------------------  */

.S13-Container {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 200%;
  line-height: 50px;
  padding-top: 30%;
}

.img-S13 {
  position: relative;
  text-align: center;
}

.Quote-S13 {
  position: relative;
  text-align: center;
  /* color: #fff; */
}

.Quote-S13-set {
  position: relative;
  color: #ffffff;
  top: -90px;
  padding-left: 5%;
}

/* ------------------------------------ S14 ------------------------------------  */
.S14-Container {
  background-image: linear-gradient(rgba(217, 217, 217, 1) 0%, rgb(0, 0, 0, 1) 100%);
  height: calc(var(--vh1));
  width: calc(var(--vw1));
  overflow-x: hidden;
  transform: rotate(-90deg);
}
.scorllingIN{
  overflow-y: hidden;
}
.scorllingAC{
  overflow-y: auto;
}
#S14,#S15,#S16,#S17,#S18,#S19{
  box-sizing: border-box;
  display: block;
  height: calc(var(--vh2));
  width: auto;
  transform: rotate(90deg);
}
#S14 {

  font-family: 'Bai Jamjuree', sans-serif;;
  font-size: 85%;
}

.img1-S14 {
  position: relative;
  padding-left: 200px;
  top: 600px;
}

.Quote-S14 {
  position: relative;
  /*  padding-left: 24%; */
  width: 380px;
  padding-left: 800px;
  top: -50px;
  line-height: 45px;
  /* padding: 20px; */
  text-align: right;
}


/* ------------------------------------ S15 ------------------------------------  */

#S15 {

  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 85%;
}

.img1-S15 {
  position: relative;
  text-align: center;
  /* left: 150px; */
  top: 600px;
}

.Quote1-S15 {
  background-color: #1e5d20;
  color: #ffffff;
  position: relative;
  left: 8%;
  width: 230px;
  height: 50px;
  top: -50px;
  font-size: 20px;
  line-height: 55px;
  padding: 10px;
  text-align: center;
}

.Quote2-S15 {
  color: #000000;
  position: relative;
  font-size: 11px;
  left: 8%;
  width: 420px;
  top: -50px;
  line-height: 19px;
  padding: 10px;
  text-align: left;
}


/* ------------------------------------ S16 ------------------------------------  */

#S16 {

  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 85%;
}

.img1-S16 {
  position: relative;
  left: 500px;
  top: 600px;
}

.Quote1-S16 {
  background-color: #1e5d20;
  color: #ffffff;
  position: relative;
  left: 8%;
  width: 300px;
  height: 55px;
  top: -50px;
  font-size: 18px;
  line-height: 65px;
  padding: 10px;
  text-align: center;
}

.Quote2-S16 {
  color: #000000;
  position: relative;
  font-size: 11px;
  left: 8%;
  width: 420px;
  top: -50px;
  line-height: 19px;
  padding: 10px;
  text-align: left;
}


/* ------------------------------------ S17 ------------------------------------  */
#S17 {

  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 85%;
}

.img1-S17 {
  position: relative;
  left: 550px;
  top: 600px;
}

.Quote1-S17 {
  background-color: #1e5d20;
  color: #ffffff;
  position: relative;
  left: 8%;
  width: 300px;
  height: 55px;
  top: -50px;
  font-size: 18px;
  line-height: 65px;
  padding: 10px;
  text-align: center;
}

.Quote2-S17 {
  color: #ffffff;
  position: relative;
  font-size: 11px;
  left: 8%;
  width: 420px;
  top: -50px;
  line-height: 19px;
  padding: 10px;
  text-align: left;
}


/* ------------------------------------ S18 ------------------------------------  */

#S18 {

  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 85%;
}

.img1-S18 {
  position: relative;
  left: 550px;
  top: 580px;
}

.Quote1-S18 {
  background-color: #1e5d20;
  color: #ffffff;
  position: relative;
  left: 8%;
  width: 300px;
  height: 55px;
  top: -150px;
  font-size: 18px;
  line-height: 65px;
  padding: 10px;
  text-align: center;
}

.Quote2-S18 {
  color: #ffffff;
  position: relative;
  font-size: 11px;
  left: 8%;
  width: 420px;
  top: -150px;
  line-height: 19px;
  padding: 10px;
  text-align: left;
}


/* ------------------------------------ S19 ------------------------------------  */

#S19 {
  overflow-y: hidden;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 85%;
}

.img1-S19 {
  position: relative;
  padding-left: 850px;
  top: 580px;
}

.Quote1-S19 {
  background-color: #1e5d20;
  color: #ffffff;
  position: relative;
  left: 8%;
  width: 300px;
  height: 55px;
  top: -80px;
  font-size: 18px;
  line-height: 65px;
  padding: 10px;
  text-align: center;
}

.Quote2-S19 {
  color: #ffffff;
  position: relative;
  font-size: 11px;
  left: 8%;
  width: 420px;
  top: -80px;
  line-height: 19px;
  padding: 10px;
  text-align: left;
}

.Quote3-S19 {
  color: #ffffff;
  position: relative;
  font-size: 11px;
  left: 55%;
  width: 420px;
  top: 250px;
  line-height: 19px;
  padding: 10px;
  text-align: right;
}

/* ------------------------------------ S20 ------------------------------------  */

.S20-Container {
  margin: 0;
  font-family: 'Bai Jamjuree', sans-serif;
  background-image: linear-gradient(to bottom,
      hsl(0, 0%, 3%),
      hsl(0, 0%, 93%));
}

.S20 {
  /* background: #a60538; */
  padding: 20rem 0 0 0;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}

.textbox1 {
  background-color: #009933;
  color: #ffffff;
  height: auto;
  padding: 2rem 0;
  box-sizing: border-box;
  font-size: 21px;
  text-align: center;
  line-height: 32px;
  font-weight: 150;
}

.img1-S20 {
  /* background: #f80404; */
  margin: 0;
  padding: 10rem 0 4rem 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;

}

.img1-S19-set {
  /* background: #140bb9; */
}

.img2-s20 {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5rem;
}

.img2-S20-set {
  /* background: #09c1d5; */
  text-align: left;
}

.img3-S20-set {
  /* background: #b4ba07; */
  padding: 1rem 0 0 0;
  text-align: center;
}

.img4-S20-set {
  /* background: #ae07ba; */
  text-align: right;
}

.textbox2 {
  background-color: #009933;
  color: #ffffff;
  height: auto;
  padding: 2rem 0;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  line-height: 32px;
  font-weight: 150;
}

.textbox3 {
  /* background: #190ca8; */
  padding: 5rem 0rem;
  text-align: center;
  justify-content: center;
}

.textbox4 {
  position: relative;
  background-color: #009933;
  color: #ffffff;
  justify-content: center;
  /* width: 180px; */
  height: auto;
  padding: 1.3rem 0;
  box-sizing: border-box;
  font-size: 19px;
  text-align: center;
  line-height: 32px;
  font-weight: 150;
}

.page-grid1 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5rem;
}

.img5-S20-set {
  justify-content: center;
}

.img6-S20-set {
  text-align: left;
}

.page-grid2 {
  display: grid;
  grid-template-rows: auto auto;
  gap: 3rem;
}

.img7-S20-set {
  text-align: left;
}

.img8-S20-set {
  text-align: right;
}

.textbox5 {
  background-color: #009933;
  color: #ffffff;
  height: auto;
  padding: 1.5rem 0;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  line-height: 32px;
  font-weight: 150;
}

.textbox6 {
  padding: 32rem 0 0 0;
}

#textbox6 {
  background-color: #009933;
  color: #ffffff;
  height: auto;
  padding: 1.5rem 0;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  line-height: 32px;
  font-weight: 150;
}


/* ------------------------------------ S21 ------------------------------------  */

.S21-Container {
  margin: 0;
  font-family: 'Sriracha', cursive;
  background: #ffffff;
}

#S21-Container {
  /* background: #e8e106; */
  padding: 10rem 2rem;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  box-sizing: border-box;
}

.S21 {
  padding: 0 3rem;
}

.text1-S21 {
  color: #009933;
  padding: 15rem 0;
  text-align: left;
  font-size: 30px;
  transform: rotate(-5deg);
}

.text2-S21 {
  color: #009933;
  padding: 15rem 0;
  text-align: right;
  font-size: 30px;
  transform: rotate(5deg);
}

.text3-S21 {
  color: #009933;
  padding: 15rem 0;
  text-align: left;
  font-size: 30px;
  transform: rotate(-5deg);
}



/* ----------------------------------------------------------------------------------- */
.img1-footer {
  justify-content: center;
  text-align: center;
}